.main-app {
    text-align: center;
}

.app-header {
    background-color: #64a407;
    height: 50px;
    padding: 20px;
    color: white;
}

.app-header .title {
    font-size: 1.5em;
}

.lotto-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}

.media-header {
    width: 60%;
    margin: auto;
    min-width: 600px;
    font-weight: 600;
    display: flex;
    font-size: 14px;
}

.media-header>div {
    flex: 1;
}

.lotto-numbers {
    display: flex;
    margin-bottom: 30px;
}

.lotto-numbers >div{
    margin: auto;
    display: flex;
}

.lotto-numbers .number{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 5px;
    font-size: 20px;
}

.lotto-numbers .number.normal {
    border: solid 1px lightgray
}

.lotto-numbers .number.euro {
    border: solid 1px red;
}

.media-list {
    width: 60%;
    margin: auto;
    min-width: 600px;
    border: solid 1px lightgray;
    padding: 0;
    font-size: 14px;
}